html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

@import url(http://fonts.googleapis.com/css?family=Oswald:700);

.content{
    position:relative;
    max-width:960px;
    margin:0 auto;   
}

h2{
    font-family: 'Oswald', sans-serif;
    margin-top:20px;
    margin-bottom:40px;
    color:blue;
   text-align:center;
   font-size:1.5em;
}

#input_teste{
     width:380px;
     height:25px;
     font-family: 'Oswald', sans-serif;
     margin:0 auto;
}

.imagem_org{
   
   
   
}
#imagem{
   width:142px;
   height:120px;
   float:left;
   background:blue;
   margin:25px ;
   
}
#placar{
    align: center;
    text-align: center;
    color:black;
    margin:0 auto;
    display:block;
}

img{
    width:80px; 
    height: 80px;
}
